body {
    
    background-image: url("https://image.ibb.co/bZ41Op/blue_squares_powerpoint_backgrounds.jpg");
    background-size: cover;
    
    
}

h1 {
    padding-top: 50px;
}


#root {
    height: 100%;
}


div.column {
    width: 100%;
    height: 100%;
}

.listItem div  {
   color: blue;
}

.test {
   
    text-align: left;
}

th {
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 16px;
    width: 200px;
}

.link {
    color: black;
    font-size: 16px;
  }

.link:hover {
     color: black;
  }

  table {
    border-collapse: separate;
    border-spacing: 10px;
    margin-bottom: 100px;
  }

th {
      text-align: center;
      width: 33%;
  }

td, th {    
    text-align: center;
    margin-bottom: 5px;
}

td {
    padding-right: 10px;
    padding-left: 10px;
}

#times {
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Crimson Text', serif;
}

#overMessage {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: "Crimson Text", serif;
}

.transparent-tables {
    background-color: white;
    opacity: 0.6;
    border-radius: 25px;
    min-height: 500px;
  }



