body {
    
    background-image: url("https://image.ibb.co/bZ41Op/blue_squares_powerpoint_backgrounds.jpg");
    background-size: cover;
    
}

#root {
    height: 100%;
}


div.column {
    width: 100%;
    height: 100%;

}

.listItem div  {
   color: blue;
}

.test {
   
    text-align: left;
}


.link {
    font-size: 16px;
    
  }

.link:hover {
     color: black;
  }

  table {
    border-collapse: separate;
    border-spacing: 20px ;
    
  }

th {
      text-align: center;
      width: 33%;
  }

td, th {    
    text-align: left;
    margin-bottom: 5px;
}
#times {
    color: white;
    text-align: center;
}




