.navbar-brand {
    color: white;
    /* height: 80px; */
    /* margin-top: 25px; */
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-bottom: 10px;
    
    width: 100%;
    
    
}