.navbar-brand {
    color: white;
    /* height: 50px;
    margin-top: 15px; */
    
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-bottom: 10px;
    
}