.navbar-brand {
    color: white;
    /* height: 80px; 
    margin-top: 25px; */
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 1;
    opacity: 1;
}

